@font-face {
	font-family: 'AachenBT-Roman';
	src: url('../fonts/AachenBT-Roman/AachenBT-Roman.eot');
	src: url('../fonts/AachenBT-Roman/AachenBT-Roman.eot?iefix') format('eot'),
	url('../fonts/AachenBT-Roman/AachenBT-Roman.woff') format('woff'),
	url('../fonts/AachenBT-Roman/AachenBT-Roman.ttf') format('truetype'),
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot');
	src: url('../fonts/Montserrat-Bold/Montserrat-Bold.eot?iefix') format('eot'),
	url('../fonts/Montserrat-Bold/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat-Bold/Montserrat-Bold.ttf') format('truetype'),
	font-weight: 600;
	font-style: normal;
}