* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	font-family: 'AachenBT-Roman', sans-serif;
	background-color: #1d1d23;
}

body h2 {
	color: #ffffff;
	font-size: 50px;
	line-height: 56px;
}

body p {
	color: #ffffff;
	font-size: 33.33px;
	line-height: 39px;
}

/*Start Header Section*/

.container {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

.header {
	position: fixed;
	z-index: 98;
	width: 100%;
}

.header:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%; 
	background-color: rgba(29,29,35,0.5);
	z-index: 3;
}

.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-height: 180px;
	padding: 40px 0;
}

.nav__logo {
	margin-right: 50px;
	max-width: 100%;
	display: block;
	z-index: 5;
}

.nav__burger {
	display: none;
}

.nav__list,
.nav__list-bottom {
	position: relative;
	z-index: 5;
}
.nav__list ul,
.nav__list-bottom ul {
	display: flex;
	align-items: center;
}

.nav__list ul li,
.nav__list-bottom ul li {
	text-decoration: none;
	list-style: none;
}

.nav__list ul li a,
.nav__list-bottom ul li a {
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
	line-height: 22px;
	margin-right: 50px;
	transition: 0.5s;
}

.nav__list ul li a:hover,
.nav__list-bottom ul li a:hover {
	color: #e9a438;
}

@media screen and (max-width: 1200px) {
	.nav {
		justify-content: space-around;
		padding: 30px 0;
	}
}

@media screen and (max-width: 992px) {
	.nav {
		padding: 20px 0;
	}
}

@media screen and (max-width: 768px) {
	body.lock {
		overflow: hidden;
	}
	.header {
		height: 50px;
	}

	.header:before {
		z-index: 6;
		transition: 0.3s;
	}

	.header.active:before {
		background-color: #1d1d23;
	}

	.nav {
		padding: 10px 0;
	}

	.nav__logo {
		position: absolute;
		left: 25px;
		top: 5px;
		z-index: 6;
	}

	.nav__logo img {
		width: 50%;
	}

	.nav__burger {
		display: block;
		position: absolute;
		width: 30px;
		height: 20px;
		right: 25px;
		top: 15px;
		z-index: 6;
		transition: all 0.3s;
	}

	.nav__burger:before,
	.nav__burger:after {
		content: '';
		background-color: #ffffff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s;
	}
	.nav__burger:before {
		top: 0;
	}
	.nav__burger:after {
		bottom: 0;
	}
	.nav__burger span {
		position: absolute;
		background-color: #ffffff;
		width: 100%;
		height: 2px;
		left: 0;
		top: 9px;
	}
	.nav__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
	}
	.nav__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
	}
	.nav__burger.active span {
		transform: scale(0);
	}
	.nav__list {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: #e58f00;
		padding-top: 65px;
		transition: all 0.5s;
		text-align: center;
		font-size: 24px;
	}

	.nav__list.active {
		right: 0;
	}
	.nav__list.active:hover {
		color: #000000;
	}

	.nav__list-bottom {
		padding-top: 365px;
		right: -100%;
		transition: all 0.5s;
		text-align: center;
		font-size: 24px;
	}
	.nav__list-bottom.active {
		right: 0;
	}
	.nav__list-bottom.active:hover {
		color: #000000;
	}

	.nav__list ul,
	.nav__list-bottom ul {
		display: block;
	}

	.nav__list ul li,
	.nav__list-bottom ul li {
		padding-bottom: 10px;
	}

	.nav__list ul li a,
	.nav__list-bottom ul li a {
		margin-right: 0;
		margin-left: 20px;
	}
}

/*End Header Section*/

/*Start Intro Section*/

.intro {
	background-image: linear-gradient(rgba(29,29,35, 0.95), rgba(29,29,35, 0.95)), url(../img/2.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	min-height: 100vh;
}

.intro__content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 242px 0 120px;
}

.intro__left,
.intro__right {
	width: calc(50% - 60px);;
}

.intro__right h1 {
	color: #e58f00;
	font-size: 66.67px;
	line-height: 72px;
	word-spacing: 10px;
}

.intro__right p {
	color: #ffffff;
	font-size: 25px;
	line-height: 31px;
	word-spacing: 10px;
	padding: 40px 0;
}

.intro__right a {
	text-decoration: none;
	color: #28282d;
	font-size: 25px;
	line-height: 68px;
	word-spacing: 10px;
	text-align: center;
}

.intro__button {
	display: block;
	border: 1px solid #e58f00;
	border-radius: 5px;
	width: 198px;
	height: 68px;
	background-color: #e58f00;
	transition: all 0.7s;
}
.intro__button:hover {
	box-shadow: 0 0 10px 0 #e58f00 inset, 0 0 10px 4px #e58f00;
	background-color: transparent;
	color: #ffffff;
}

@media screen and (max-width: 1200px) {
	.intro {
		background-attachment: fixed; 
		background-size: cover;
		height: 100%;
	}

	.intro__content {
		justify-content: center;
	}
	.intro__left img {
		width: 96%;
	}
}

@media screen and (max-width: 992px) {
	.intro {
		background-attachment: fixed; 
		background-size: cover;
		height: 100%;
	}
	.intro__left,
	.intro__right {
		width: 100%;
	}
	.intro__right {
		padding:  50px 50px 0 60px;
	}
	.intro__left img {
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width: 768px) {

	.intro__right h1 {
		font-size: 42px;
		line-height: 48px;
		word-spacing: 5px;
	}

	.intro__right p {
		font-size: 21px;
		line-height: 27px;
		word-spacing: 5px;
		padding: 20px 0;
	}

	.intro__right a {
		color: #28282d;
		font-size: 19px;
		line-height: 50px;
		word-spacing: 5px;
	}

	.intro__button {
		width: 150px;
		height: 50px;
	}
	.intro__left img {
		display: block;
		margin: 0 auto;
	}
}

/*End Header Section*/

/*Start About Us Section*/
.about-us {
	padding: 120px 0 75px;
}

.about-us-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.about-us__left,
.about-us__right {
	width: 50%;
}

.about-us__right {
	padding-left: 40px;
}

.about-us__right h2 {
	padding-bottom: 40px;
}
@media screen and (max-width: 1200px) {
	.about-us__left img {
		width: 100%;
		padding-left: 40px;
	}
}
@media screen and (max-width: 992px) {
	.about-us__right {
		padding: 0 30px;
	}
}

@media screen and (max-width: 768px) {
	.about-us {
		padding: 40px 0 40px;
	}
	.about-us__left,
	.about-us__right {
		width: 100%;
	}
	.about-us__right {
		padding: 40px 40px 0 40px;
	}
	.about-us__right h2 {
		font-size: 38px;
		line-height: 44px;
	}
	.about-us__right p {
		font-size: 27px;
		line-height: 33px;
	}
	.about-us__left img {
		display: block;
		padding-left: 0;
		width: 90%;
		margin: 0 auto;
	}
}
/*End About Us Section*/


/*Start Food Section*/

.food {
	padding-top: 125px;
	background-color: #1d1d23;
}

.food > .container {
	max-width: 1440px;
	width: 100%;
}

.food__one {
	position: absolute;
	right: 0;
	top: -77px;
}

.food__thwo {
	position: absolute;
	right: 0;
	top: 665px;
}

.food__three {
	position: absolute;
	left: 0;
	top: 1046px;
}

.food-content {
	position: relative;
	background-image: url(../img/Shape.png);
	background-repeat: no-repeat;
	background-size: auto auto;
	min-height: 1693px;
	max-width: 1440px;
	width: 100%;
}

.food-content__text {
	position: absolute;
	top: 372px;
	left: 203px;
	width: 525px;
}

.food-content__text h2 {
	padding-bottom: 40px;
}
@media screen and (max-width: 1200px) {
	.food__thwo {
	    left: 500px;
	    right: auto;
	    top: 688px;
	    width: 700px;
	}
	.food__thwo img {
		width: 100%;
	}

}
@media screen and (max-width: 992px) {	
	.food__thwo {
		left: 428px;
		top: 698px;
		width: 564px;
	}
	.food-content__text {
		top: 340px;
		left: 58px;
	}
}
@media screen and (max-width: 768px) {
	.food__one {
		width: 302px;
	}
	.food__one img{
		width: 100%;
	}
	.food__thwo {
	    top: 443px;
	    left: 204px;
	}	
	.food-content__text {
		top: 150px;
		left: 58px;
		width: 400px;
	}
	.food-content__text h2 {
		padding-bottom: 25px;
		font-size: 38px;
		line-height: 44px;
	}
	.food-content__text p {
		font-size: 27px;
		line-height: 33px;
	}
}

@media screen and (max-width: 576px) {
	.food {
		padding-top: 40px;
	}
	.food__one {
		display: none;
	}
	.food__thwo {
	    top: 464px;
    	left: 76px;
    	width: 500px;
	}
	.food-content__text {
		position: static;
		margin: 0 auto;
		padding-top: 90px;
	}
}
/*End Food Section*/

/*Start Gallery Section*/

.gallery {
	padding-top: 185px;
	padding-bottom: 145px;
}

.gallery h2 {
	text-align: center;
	padding-bottom: 105px;
}

.gallery__content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.gallery__row {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.gallery__row a {
	text-decoration: none;
	width: 33.3333%;
	margin-bottom: 35px;
}

.gallery__row img {
	display: block;
}

@media screen and (max-width: 1200px) {
	.gallery {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.gallery__row a {
		margin-bottom: 25px;
	}
	.gallery__row img {
		width: 95%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 992px) {
	.gallery__row a {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	.gallery {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.gallery h2 {
		text-align: center;
		padding-bottom: 40px;
	}
}

@media screen and (max-width: 576px) {
	.gallery__row a {
		width: 100%;
	}
	.gallery__row img {
		width: 70%;

	}
}
/*End Gallery Section*/

/*Start Enjoy Section*/

.enjoy {
	background-image: url(../img/14.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.enjoy__content {
	background: rgba(29,29,35,0.8);
	max-width: 705px;
	width: 100%;
	border: 10px solid #e58f00;
	text-align: center;
}

.enjoy__content-text {
	padding: 80px 90px 90px;
}

.enjoy__content-text h2 {
	padding-bottom: 50px;
}

@media screen and (max-width: 1200px) {
	.enjoy {
		background-attachment: fixed; 
	}
}

@media screen and (max-width: 768px) {
	.enjoy {
		background-attachment: scroll;
		height: 514px;
	}
	.enjoy__content {
		width: 70%;
		border: 7px solid #e58f00;
	}
	.enjoy__content-text {
		padding: 40px 40px;
	}
	.enjoy__content-text h2 {
		padding-bottom: 30px;
		font-size: 38px;
		line-height: 44px;
	}
	.enjoy__content-text p {
		font-size: 27px;
		line-height: 32px;
	}
}

@media screen and (max-width: 576px) {
	.enjoy {
		height: 380px;
	}
	.enjoy__content {
		width: 70%;
		border: 5px solid #e58f00;
	}
	.enjoy__content-text {
		padding: 20px 20px;
	}
	.enjoy__content-text h2 {
		padding-bottom: 25px;
		font-size: 34px;
		line-height: 40px;
	}
	.enjoy__content-text p {
		font-size: 21px;
		line-height: 27px;
	}
}
/*End Enjoy Section*/

/*Start Our Menu Section*/

.our-menu {
	padding: 180px 0 195px;
}

.our-menu h2 {
	text-align: center;
	padding-bottom: 90px;
}

.our-menu__card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.our-menu__card-product {
	text-decoration: none;
	max-width: 407px;
	width: 100%;
}

.our-menu__card-product img {
	width: 100%;
}

.our-menu__card-product h3 {
	text-transform: uppercase;
	padding-top: 45px;
	line-height: 32px;
	font-size: 26px;
	color: #e58f00;
	word-spacing: 5px;
}

.our-menu__card-product p {
	padding: 25px 0;
	font-size: 16.67px;
	line-height: 22px;
	color: #ffffff;
}

.our-menu__card-product span {
	font-size: 25px;
	line-height: 31px;
	color: #e58f00;
}

@media screen and (max-width: 1200px) {
	.our-menu {
		padding-top: 100px;
	}
	.our-menu__card {
		justify-content: space-around;
	}
	.our-menu__card-product {
		width: calc(33% - 20px);
	}
}

@media screen and (max-width: 768px) {
	.our-menu {
		padding: 40px 0;
	}
	.our-menu h2 {
		font-size: 38px;
		padding-bottom: 10px;
	}

	.our-menu__card-product {
		max-width: 407px;
		width: 100%;
		margin-top: 35px;
	}
}
/*End Our Menu Section*/

/*Start Best Meal Section*/

.best-meal {
	background-color: #e58f00;
	max-height: 505px;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 140px 0;
}

.best-meal__imeg {
	width: 50%;
}

.best-meal__imeg img {
	display: block;
}

.best-meal__text {
	width: 50%;
	text-align: left;
	width: 525px;
}

.best-meal__text h2 {
	padding-bottom: 40px;
}

@media screen and (max-width: 1200px) {
	.best-meal {
		justify-content: space-between;
	}
}
@media screen and (max-width: 992px) {
	.best-meal__imeg img {
		width: 95%;
	}
}

@media screen and (max-width: 768px) {
	.best-meal {
		padding: 60px 0;
	}
	.best-meal__imeg img {
		width: 90%;
	}
	.best-meal__text h2 {
		padding-bottom: 20px;
		font-size: 38px;
		line-height: 44px;
	}
	.best-meal__text p {
		font-size: 27px;
		line-height: 33px;
	}
}

@media screen and (max-width: 576px) {
	.best-meal {
		padding: 25px 0;
	}
	.best-meal__text {
		margin: 0 20px;
	}
	.best-meal__text h2 {
		padding-bottom: 20px;
		font-size: 34px;
		line-height: 40px;
	}
	.best-meal__text p {
		font-size: 21px;
		line-height: 27px;
	}
}
/*End Best Meal Section*/

/*Start Footer Section*/

.footer {
	padding: 80px 0 105px;
}


.footer-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-content nav {
	margin: 60px 0 50px;
}

.footer-content ul {
	display: flex;
	justify-content: space-around;
}

.footer-content ul li {
	text-decoration: none;
	list-style: none;
	margin-right: 50px;
}

.footer-content a {
	text-decoration: none;
	text-transform: uppercase;
	color: #e7e6e6;
	transition: all 0.5s;
}

.footer-content a:hover {
	color: #e58f00;
}

.social-networks {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 260px;
}

.social-networks a {
	text-decoration: none;
	font-family: "Montserrat-Bold", sans-serif;
	font-size: 20px;
	line-height: 26px;
	
}

.social-networks a i {
	font-size: 46px;
	transition: all 0.4s;
}

.fa-facebook:hover  {
	color: #026ae3;
}

.fa-twitter:hover {
	color: #1da1f2;
}

.fa-instagram-square:hover {
	color: #d02c86;
}

.fa-pinterest:hover {
	color: #e60023;
}

@media screen and (max-width: 768px) {
	.footer {
		padding: 40px 0;
	}
	.footer-content {
		display: block;
		position: relative;
	}
	.footer-content ul {
		display: block;
		position: absolute;
		top: 0px;
		right: 20%;
	}

	.footer-content ul li {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.footer-content img {
		width: 30%;
		margin-left: 40px;
	}
	.social-networks {
		margin-left: 40px;

	}
	.social-networks a i {
		font-size: 35px;
	}
}

@media screen and (max-width: 576px) {
	.footer-content ul li {
		margin-bottom: 12px;
		margin-right: 25px;
	}
	.footer-content nav ul li a {
		font-size: 13px;
	}
	.social-networks a i {
		font-size: 25px;
	}
	.social-networks {
		max-width: 180px;
	}
}
/*End Footer Section*/